Node-RED flow.json
[{"id":"5b6830ce.63163","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"43b6d034.f89e4","type":"debug","z":"5b6830ce.63163","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":140,"wires":[]},{"id":"65e5f14d.82345","type":"function","z":"5b6830ce.63163","name":"Temperature","func":"global.set(\"temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":40,"wires":[["43b6d034.f89e4","648ddb8f.74f7a4"]]},{"id":"c604b9c0.e91258","type":"function","z":"5b6830ce.63163","name":"Humidity","func":"global.set(\"humidity\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["43b6d034.f89e4","4f8b05da.b4e28c"]]},{"id":"648ddb8f.74f7a4","type":"ui_gauge","z":"5b6830ce.63163","name":"","group":"991550c9.a9edd","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":60,"wires":[]},{"id":"4f8b05da.b4e28c","type":"ui_gauge","z":"5b6830ce.63163","name":"","group":"991550c9.a9edd","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":220,"wires":[]},{"id":"614feb73.071344","type":"ibmiot in","z":"5b6830ce.63163","authentication":"apiKey","apiKey":"7624c61f.f8eb58","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"Green house monitoring","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":80,"y":120,"wires":[["65e5f14d.82345","c604b9c0.e91258","f96c4490.627128"]]},{"id":"f96c4490.627128","type":"function","z":"5b6830ce.63163","name":"SoilMoisture","func":"global.set(\"soilmoisture\",msg.payload.Soil_Moisture)\nmsg.payload=msg.payload.Soil_Moisture\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["43b6d034.f89e4","e3ad4879.e8c048"]]},{"id":"e3ad4879.e8c048","type":"ui_gauge","z":"5b6830ce.63163","name":"","group":"991550c9.a9edd","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":340,"wires":[]},{"id":"345c62b2.33649e","type":"ui_button","z":"5b6830ce.63163","name":"","group":"991550c9.a9edd","order":3,"width":0,"height":0,"passthru":false,"label":"sprinkler on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"sprinkleon\"}","payloadType":"json","topic":"","x":190,"y":420,"wires":[["2cdbd025.af12b"]]},{"id":"4a06f492.0e4c6c","type":"ui_button","z":"5b6830ce.63163","name":"","group":"991550c9.a9edd","order":4,"width":0,"height":0,"passthru":false,"label":"sprinkler off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"sprinkleoff\"}","payloadType":"json","topic":"","x":160,"y":520,"wires":[["2cdbd025.af12b"]]},{"id":"173ac827.784008","type":"http in","z":"5b6830ce.63163","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":604,"wires":[["47b610e4.08099"]]},{"id":"cb380e43.14fe8","type":"http response","z":"5b6830ce.63163","name":"","statusCode":"","headers":{},"x":440,"y":660,"wires":[]},{"id":"47b610e4.08099","type":"function","z":"5b6830ce.63163","name":"web","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'soilmoisture':global.get(\"soilmoisture\")}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":680,"wires":[["cb380e43.14fe8","4c2b47ee.1d74d8"]]},{"id":"4c2b47ee.1d74d8","type":"debug","z":"5b6830ce.63163","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":600,"wires":[]},{"id":"2cdbd025.af12b","type":"ibmiot out","z":"5b6830ce.63163","authentication":"apiKey","apiKey":"7624c61f.f8eb58","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"Green house monitoring","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":480,"wires":[]},{"id":"96e9377b.717ce8","type":"http in","z":"5b6830ce.63163","name":"command","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":130,"y":840,"wires":[["7236837d.92f84c"]]},{"id":"6a8fdd27.9c0c64","type":"http response","z":"5b6830ce.63163","name":"","statusCode":"","headers":{},"x":530,"y":920,"wires":[]},{"id":"7236837d.92f84c","type":"function","z":"5b6830ce.63163","name":"web2","func":"return msg;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["6a8fdd27.9c0c64","82a80d2a.214df","2cdbd025.af12b"]]},{"id":"82a80d2a.214df","type":"debug","z":"5b6830ce.63163","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":800,"wires":[]},{"id":"991550c9.a9edd","type":"ui_group","z":"","name":"Green house monitoring","tab":"d98f9bcc.b307a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7624c61f.f8eb58","type":"ibmiot","z":"","name":"api","keepalive":"60","serverName":"12lv8e.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d98f9bcc.b307a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]